html,body{width:100%;overflow: hidden;overflow-y: scroll;}
#main article{border-bottom:0}body{font:18px PingFang SC,Lantinghei SC,Microsoft Yahei,Hiragino Sans GB,Microsoft Sans Serif,WenQuanYi Micro Hei,sans;background-color:#07040e}#canvas{position:absolute;z-index:10;top:0;left:0;bottom:0;right:0;cursor:none}.content{position:absolute;z-index:11;right:0;left:0;top:0;}.splash{position:relative}img#qq{width:128px;background-size:cover;border-radius:200px;box-shadow:0 0 40px rgba(63,81,181,0.72);border:3px solid #00a0ff;opacity:1;margin:0 auto;margin-top:20px;margin-bottom:20px;transition:all 1.0s}#qq:hover{box-shadow:0 0 10px #fff;-webkit-box-shadow:0 0 19px #fff;transform:rotate(360deg);-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=3)}.content a{margin-top:6px;margin-right:1em}

.cpright{font-size: 18px;padding-bottom: 18px;margin-top: 130px;}
@media screen and (max-width: 768px) {
    .cpright{margin-top: 80px;}
}
.linka{position: relative;}
.linka span{vertical-align: middle;display: inline-block;margin-top: 2px;}
.linka img{max-width: 15px;height: 15px;margin-right: 1px;}
#linklst a{
    margin: 6px 0.5em 0 0.5em;
}